<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
   	<servlet-name>MyCookie</servlet-name>
   	<servlet-class>com.web.AddCookieServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>MyCookie</servlet-name>
   	<url-pattern>/addCookie</url-pattern>
   </servlet-mapping>
    <servlet>
   	<servlet-name>MyFindCookie</servlet-name>
   	<servlet-class>com.web.FindCookieServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>MyFindCookie</servlet-name>
   	<url-pattern>/findCookie</url-pattern>
   </servlet-mapping>
    <servlet>
   	<servlet-name>MySaveFindCookie</servlet-name>
   	<servlet-class>com.web.Find_SaveCookieServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>MySaveFindCookie</servlet-name>
   	<url-pattern>/findsaveCookie</url-pattern>
   </servlet-mapping>
    <servlet>
   	<servlet-name>MyLoginServlet</servlet-name>
   	<servlet-class>com.servlet.UserServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>MyLoginServlet</servlet-name>
   	<url-pattern>*.do</url-pattern>
   </servlet-mapping>
      <servlet>
   	<servlet-name>CheckCode</servlet-name>
   	<servlet-class>com.entity.CheckCode</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>CheckCode</servlet-name>
   	<url-pattern>/CheckCode</url-pattern>
   </servlet-mapping>
     <servlet>
   	<servlet-name>CheckCodeServlet</servlet-name>
   	<servlet-class>com.entity.CheckCodeServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>CheckCodeServlet</servlet-name>
   	<url-pattern>/CheckCodeServlet</url-pattern>
   </servlet-mapping>
</web-app>
